@import url('./fonts.css');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --bg-primary: #1b1b1d;
  --bg-secondary: #242526;
  --text-primary: #e3e3e3;
  --text-secondary: #b98efd;
  --text-bg-primary: #444950;
  --text-bg-primary-hover: #ba8fff;
}

body {
  background-color: var(--bg-primary);
  overflow: hidden;
}


body,
* {
  font-family: "Poppins", serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: inherit;
  color: inherit;
}

/* navigation bar */
.navbar {
  background-color: var(--bg-secondary);
  padding: 1.4rem 1.12rem;
}

.main-div{
 
  background-color: var(--bg-secondary);

}

.login-signup-form {
  position: relative;

  height: 80%;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  
 
  margin-bottom: 2rem;
}
/* floating label */

.input-div {
  margin: 1rem 0;
  position: relative;
}

.labelLine {
  position: absolute;
  left: 7.4px;
  top:6px;
  font-size: 0.9rem;
  background-color:var(--bg-secondary);
  color: grey ;
  padding: .2rem 0.5rem;
  transition: 0.2s ease;
  z-index: 4;
}

.input-div  input {
  width: inherit;
  position: absolute;
  background:var(--bg-secondary);
  font-size: 1.1rem;
  padding: 0.35rem 0.95rem;
  transition: 0.2s ease;
  border: 1.5px solid var(--text-secondary);
  outline: none;
  border-radius: 3px;
  z-index: 2;
}



.fa-eye, .fa-eye-slash, 
.fa-eye::after, .fa-eye-slash::after, 
.fa-eye::before, .fa-eye-slash::before 
{
  color:grey;
}



@media screen and (max-width:800px)
{
  .login-signup-form{
    height: 100%;
  }
}
